html, body {
  padding: 0px;
  background-color: #181b26;
  color: #181b26;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  overflow-x: hidden;
  scroll-behavior: "smooth";
  overflow-x: "hidden";
  overflow-y: "hidden";
}

* {
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #FF29DD;
  font-weight: 700;
}

a:hover {
  color: cyan;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 1rem;
}

.masonry>* {
  margin-bottom: 1rem;
}

